<div id="latest-news" class="section hfeed">
	<h2><a href="#">Latest News</a></h2>
	{exp:channel:entries channel="news" limit="4" dynamic="no" disable="{snipp_disable}"}
	<div class="article hentry">
		<h4><span class="published updated"><time datetime="2010-10-21">10/21</time><span title="2010-10-21" class="value-title"></span></span> - <a href="{page_url}" class="entry-title" rel="bookmark">{title}</a></h4>
	</div>
	{/exp:channel:entries}
	<p class="more"><a href="#">News Archive</a></p>
</div><!-- /#latest-news -->