<div id="related-news" class="mod section hfeed">
	<h3>Related News</h3>
	<div class="article hentry">
		<h4><span class="published updated"><time datetime="2010-10-13">10/13</time><span title="2010-10-13" class="value-title"></span></span> - <a href="#" class="entry-title">Ut enim ad minim veniam quis nostrud</a></h4>
	</div>
	<div class="article hentry">
		<h4><span class="published updated"><time datetime="2010-10-13">10/13</time><span title="2010-10-13" class="value-title"></span></span> - <a href="#" class="entry-title">Ut enim ad minim veniam quis nostrud</a></h4>
	</div>
	<div class="article hentry">
		<h4><span class="published updated"><time datetime="2010-10-13">10/13</time><span title="2010-10-13" class="value-title"></span></span> - <a href="#" class="entry-title">Ut enim ad minim veniam quis nostrud</a></h4>
	</div>
	<p class="more"><a href="#">News Archive</a></p>
</div><!-- /#related-news -->