<div id="mem-signin" class="mod mod-form">
	<div class="mod-in">
		<h3>Member Sign-In</h3>
		<form id="mem-signin-form" action="" method="post">
			<ul>
				<li>
					<label for="mem-signin-un" class="structural">User Name</label><br />
					<input type="text" id="mem-signin-un" class="placeholder" placeholder="User Name" />
				</li>
				<li>
					<label for="mem-signin-pass" class="structural">Password</label><br />
					<input type="password" id="mem-signin-pass" />
				</li>
				<li class="butt">
					<button type="submit" id="mem-signin-submit">Sign In</button>
				</li>
			</ul>
		</form>
		<ul id="mem-manager" class="more light">
			<li><a href="#">Lost Password?</a></li>
			<li><a href="#">Manage Profile</a></li>
		</ul>
	</div><!-- /.mod-in -->
</div><!-- /#mem-signin -->