<div id="upcoming-events" class="section">
	<h2><a href="#">Upcoming Events</a></h2>
	<div id="ue-training" class="section vcalendar">
		<h3 class="structural category">Upcoming Training Events</h3>
		<div class="article vevent">
			<h4><span class="dtstart"><time datetime="2010-10-21">10/21</time><span title="2010-10-21" class="value-title"></span></span> - <a href="#" class="url summary">Training Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h4>
		</div>
		<div class="article vevent">
			<h4><span class="dtstart"><time datetime="2010-10-16">10/16</time><span title="2010-10-16" class="value-title"></span></span> - <a href="#" class="url summary">Ut enim ad minim veniam, quis nostrud exercitation</a></h4>
		</div>
		<div class="article vevent">
			<h4><span class="dtstart"><time datetime="2010-10-14">10/14</time><span title="2010-10-14" class="value-title"></span></span> - <a href="#" class="url summary">Duis aute irure dolor in reprehenderit in consectetur adipisicing</a></h4>
		</div>
	</div><!-- /#ue-training -->	
	<p class="more"><a href="#">View the Events Calendar</a></p>
</div><!-- /#upcoming-events -->