<div id="upcoming-events" class="section vcalendar">
	<h2><a href="/events/">Upcoming Events</a></h2>
	{exp:channel:entries channel="events" limit="4" show_future_entries="yes" dynamic="no" disable="{s_disable}"}
	<div class="article vevent">
		<h4><a href="{page_uri}" class="url summary">{meeting_name}</a></h4>

		<p class="dtstart">
			<time datetime="{entry_date format="{s_date_title}"}">{entry_date format="{s_date}"}
				<span title="{entry_date format="{s_date_title}"}" class="value-title"></span>
			</time>
		</p>
	</div>
	{/exp:channel:entries}
	<p class="more"><a href="/events/">View Events Calendar</a></p>
</div><!-- /#latest-news -->