{exp:fourohfour_email to="email@example.com"}
{preload_replace:entry_id="????"}

{exp:channel:entries limit="1" disable="{snip_disable}"}
	page_title="{title}"
{/exp:channel:entries}
}

{embed="includes/.sub"}

<div id="main" class="hfeed" role="main">
	<div class="article hentry">
	{exp:channel:entries limit="1" entry_id="{entry_id}" disable="{snip_disable}"}
		<h1 class="entry-title">{title}</h1>
		<div class="entry-content">
			{body}
		</div><!-- /.entry-content -->
	{/exp:channel:entries}
	</div><!-- /.hentry -->
</div><!-- /#main -->

{embed="includes/.complementary"}
{embed="includes/.footer"}