<div id="main-nav" class="nav">
	<h2 class="structural">Main Navigation</h2>
	<ul role="navigation">
		<li id="mn-about">{if segment_1 == 'about' && segment_2 == ''}<strong>{if:else}<a href="/about/">{/if}About IMPACT{if segment_1 == 'about' && segment_2 == ''}</strong>{if:else}</a>{/if}</li>
		<li id="mn-programs">{if segment_1 == 'about' && segment_2 == ''}<strong>{if:else}<a href="/programs/">{/if}Programs{if segment_1 == 'about' && segment_2 == ''}</strong>{if:else}</a>{/if}</li>
		<li id="mn-members">{if segment_1 == 'about' && segment_2 == ''}<strong>{if:else}<a href="/members/">{/if}Members{if segment_1 == 'about' && segment_2 == ''}</strong>{if:else}</a>{/if}</li>
		<li id="mn-news">{if segment_1 == 'about' && segment_2 == ''}<strong>{if:else}<a href="/news/">{/if}News{if segment_1 == 'about' && segment_2 == ''}</strong>{if:else}</a>{/if}</li>
		<li id="mn-events">{if segment_1 == 'about' && segment_2 == ''}<strong>{if:else}<a href="/events/">{/if}Events{if segment_1 == 'about' && segment_2 == ''}</strong>{if:else}</a>{/if}</li>
		<li id="mn-publications-resources">{if segment_1 == 'about' && segment_2 == ''}<strong>{if:else}<a href="/publications-resources/">{/if}Publications/Resources{if segment_1 == 'about' && segment_2 == ''}</strong>{if:else}</a>{/if}</li>
	</ul>
</div><!-- /#main-nav -->