<!doctype html>
<html>
<head>
<meta charset="utf-8" />

<title>{if embed:page_title}{embed:page_title}{if:else}Company Full Name{/if} | {site_name}</title>

<!-- gist.github.com/581868 -->
{if segment_1 == "contact"}<meta name="robots" content="noindex" />{/if}

<link href="{path='stylesheets/styles'}" rel="stylesheet" />
<link href="{stylesheet=stylesheets/print}" rel="stylesheet" media="print" />

<link rel="alternate" type="application/rss+xml" title="News" href="http://feeds.feedburner.com/news" />
<link rel="search" type="application/opensearchdescription+xml" title="Search {site_name}" href="{site_url}search.xml" />
<link rel="home" href="{site_url}" title="Home page" />
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
</head>

<body id="{if segment_1}{segment_1}{if:else}home{/if}"{if segment_1} class="subpage"{/if} lang="en-US">
{if logged_in && member_group == "1"}<div style="position:absolute;top:0;left:0;position:fixed;background-color:#000;color:#fff; font-size:9px;padding:5px;">{elapsed_time} seconds / {total_queries} queries</div>{/if}

<ul id="skiplinks">
	<li><a href="#main">Skip to Content</a></li>
	<li><a href="#main-nav">Skip to Main Navigation</a></li>
	{if segment_1}<li><a href="#sub-nav">Skip to Sub Navigation</a></li>{/if}
</ul>

<div id="banner" class="header" role="banner">
	<h1 id="logo"><a href="/" title="Back to the {site_name} homepage" rel="home"><img src="/fw/company-logo.png" width="" height="" alt="{site_name}" /></a></h1>
</div><!-- /#banner -->

{embed="includes/.nav"}

<div id="core">
	{if segment_1}{embed="includes/.breadcrumbs"}{/if}